body {
  margin: 0;
  background-color:#e8f5e9;
  font-family: 'Poppins', sans-serif;
}
.app.light {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
}

.app.dark {
  background-color: #121212;
  color: #ffffff;
  transition: all 0.3s ease;
}

/* Optional: adjust cards and buttons */
.app.dark .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.app.dark .btn-outline-success {
  color: #ffffff;
  border-color: #66bb6a;
}

.app.dark .btn-outline-success:hover {
  background-color: #66bb6a;
  color: #000000;
}
